@{
    ViewData["Title"] = "Home Page";
}
<style>

    body {
        background-image: url('https://colwebsites.com/wp-content/uploads/2021/03/Funcion-del-mercado-bursatil.jpg');
    }
</style>
<body>
<div class="text-center" style="color:white">
    <h1 class="display-4">Seguimiento de gastos</h1>
        <p style="color:white">Lee a cerca <a href="https://docs.microsoft.com/aspnet/core" style="color:white">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>