@model ProyASPNetCore7Admin.Models.Departamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDepto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model?.Id">Edit</a> |
    <br>
    <a asp-action="Index" Edit" class="btn btn-info">Back to List</a>
</div>
