@model ProyASPNetCore7Admin.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Run" class="control-label"></label>
                <input asp-for="Run" class="form-control" />
                <span asp-validation-for="Run" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario1" class="control-label"></label>
                <input asp-for="Usuario1" class="form-control" />
                <span asp-validation-for="Usuario1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDepto" class="control-label"></label>
                <select asp-for="IdDepto" class ="form-control" asp-items="ViewBag.IdDepto"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        // Validar el campo Nombres en tiempo real
        $('#Nombres').on('input', function () {
            var nombres = $(this).val().trim();

            if (nombres === '') {
                $(this).addClass('is-invalid');
                $('span[data-valmsg-for="Nombres"]').text('Este campo es obligatorio.');
            } else {
                $(this).removeClass('is-invalid');
                $('span[data-valmsg-for="Nombres"]').text('');
            }
        });

        // Validar el campo Apellidos en tiempo real
        $('#Apellidos').on('input', function () {
            var apellidos = $(this).val().trim();

            if (apellidos === '') {
                $(this).addClass('is-invalid');
                $('span[data-valmsg-for="Apellidos"]').text('Este campo es obligatorio.');
            } else {
                $(this).removeClass('is-invalid');
                $('span[data-valmsg-for="Apellidos"]').text('');
            }
        });

        // Validar el campo Run en tiempo real
        $('#Run').on('input', function () {
            var run = $(this).val().trim();

            if (run === '') {
                $(this).addClass('is-invalid');
                $('span[data-valmsg-for="Run"]').text('Este campo es obligatorio.');
            } else {
                var regexRun = /^[0-9]+-[0-9Kk]$/;
                if (!regexRun.test(run)) {
                    $(this).addClass('is-invalid');
                    $('span[data-valmsg-for="Run"]').text('El formato del RUN no es válido.');
                } else {
                    $(this).removeClass('is-invalid');
                    $('span[data-valmsg-for="Run"]').text('');
                }
            }
        });

        // Validar el campo Nombre Administrador en tiempo real
        $('#Usuario1').on('input', function () {
            var usuario1 = $(this).val().trim();

            if (usuario1 === '') {
                $(this).addClass('is-invalid');
                $('span[data-valmsg-for="Usuario1"]').text('Este campo es obligatorio.');
            } else {
                $(this).removeClass('is-invalid');
                $('span[data-valmsg-for="Usuario1"]').text('');
            }
        });

        // Validar el campo Apellidos Administrador en tiempo real
        $('#Password').on('input', function () {
            var password = $(this).val().trim();

            if (password === '') {
                $(this).addClass('is-invalid');
                $('span[data-valmsg-for="Password"]').text('Este campo es obligatorio.');
            } else {
                $(this).removeClass('is-invalid');
                $('span[data-valmsg-for="Password"]').text('');
            }
        });

        // Limpiar la clase 'is-invalid' al cambiar el valor de un campo
        $('input').on('input', function () {
            $(this).removeClass('is-invalid');
        });
    });
</script>